@mixin ipad {
  @media screen and (max-width: 1126px) {
    @content;
  }
}

@mixin iphone {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin nav {
  @media screen and (max-width: 540px) {
    @content;
  }
}
