nav {
  min-width: 100%;
  background-color: #1a8ff0;
  color: #ffffff;
}

.nav__content {
  // min-height: 8vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.8rem 0;
  @include nav {
    flex-direction: column;
  }
}

.nav__logo h1 {
  font-weight: $font-weight-medium;
  @include nav {
    margin-bottom: 0.5rem;
  }
}

.nav__login h1 {
  font-weight: $font-weight-semiBold;
}
